* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.Header {

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 4px 0px rgb(2, 12, 100);
    margin-bottom: 1px;


}
.left-section {

padding-left: 10px;
}
.logo-baymax{
    height: 44px;
    width: 44px;
    border-radius: 22px;
    cursor: pointer;
}
.logo-baymax:hover {
    opacity: .8;
}
.right-section {
padding-top: 5px;}
ul {
    list-style: none;
    display: flex;
   cursor: pointer; 
   padding-top: 5px;
}

.home-nav { margin-right: 45px;
    transition: .30s;

}
.home-nav:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(178, 35, 35);
    border-radius: 3px;
    font-size: 27px;

}
.gallery-nav {margin-right: 45px;
    transition: .30s;

}
.gallery-nav:hover{

    background-color: rgb(255, 255, 255);
    color: rgb(178, 35, 35);
    border-radius: 3px;
    font-size: 27px;
}
.contact-us-nav {margin-right: 45px;
    transition: .30s;

}
.contact-us-nav:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(178, 35, 35);
    border-radius: 3px;
font-size: 27px;
}